/* PHASE 2: Notifications */
.badge {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: #000;
  padding: 1px 6px;
}

.header-list > li:hover .badge {
  background: #f00;
}

.dropdown {
  position: absolute;
  color: black;
  display: none;
  top: 38px;
  left: 0;
}

.header-list > li:hover .dropdown {
  display: block;
}

.dropdown > li {
  background: #fff;
  /*border-bottom: 1px solid #ccc;*/
  padding: 10px 20px 10px 20px;
  font-size: 14px;
  white-space: nowrap;
  float:none;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.dropdown > li:last-child {
  border-radius: 0 0 5px 5px;
  /*border-right: 1px solid #ccc;*/
}

.dropdown > li:hover {
  background: #eee;
}
